In [ ]:
"""
The data in this skript is based on the publication from Gao, H. X. and Peng, L.-M.,
Parameterization of the temperature dependence of the Debye-Waller factors, Acata Crystallographica A 1999 A55, 926-932
https://doi.org/10.1107/S0108767399005176
"""

In [41]:
import pandas as pd
import numpy as np

In [49]:
df=pd.read_csv("Debeye Waller.txt",sep=' ')

In [46]:
def calc_U(element,T,df):
    """
    Pass T in Kelvin and the parameters as described in the publication from Gao and Peng (1999)
    """
    df_work=df[df['Element']=='Li']
    a=np.reshape(df_work[['a0','a1','a2','a3','a4']].values,5)
    #print(a)
    return(a[0]+a[1]*T+a[2]*(T**2)+a[3]*(T**3)+a[4]*(T**4))

In [48]:
calc_U('Nb',293,df)

4.91686780382848

In [16]:
df[df['Element']=='Li']

,Element,Z,Structure,a0,a1,a2,a3,a4,ME,(%)
0,Li,3,B.c.c.,0.90169,0.00878,0.00003,-5.940000e-08,4.448000e-11,0.33,NaN

In [28]:
df['a0']

,Element,Z,Structure,a0,a1,a2,a3,a4,ME,(%)
0,Li,3,B.c.c.,0.901690,8.780000e-03,3.039000e-05,-5.940000e-08,4.448000e-11,0.33,NaN
1,Be,4,H.c.p.,0.358510,-1.421000e-04,3.225000e-06,-3.136000e-09,1.139000e-12,0.69,NaN
2,C,6,Diamond,0.120340,-2.231000e-05,3.348000e-07,-2.108000e-10,5.320000e-14,0.09,NaN
3,Na,11,B.c.c.,0.385310,1.831000e-02,2.176000e-05,-5.389000e-08,5.105000e-11,0.12,NaN
4,Mg,12,H.c.p.,0.226680,4.830000e-03,3.239000e-06,-3.499000e-09,1.362000e-12,1.00,NaN
...,...,...,...,...,...,...,...,...,...,...
59,Ir,77,0.02550,0.000199,3.339000e-07,-3.542000e-10,1.363000e-13,1.160000e+00,NaN,NaN
60,Hg,80,0.05788,0.010260,5.610000e-06,-1.853000e-08,2.364000e-11,3.000000e-02,NaN,NaN
61,Tl,81,0.03756,0.008810,1.170000e-06,-1.957000e-09,1.204000e-12,7.000000e-02,NaN,NaN
62,Bi,83,0.03610,0.003580,1.111000e-06,-1.855000e-09,1.140000e-12,1.900000e-01,NaN,NaN
63,U,92,0.02449,0.000982,3.617000e-07,-3.933000e-10,1.538000e-13,7.100000e-01,NaN,NaN

In [22]:
df_temp=df[df['Element']=='Li']

In [42]:
np.reshape(df_temp[['a0','a1','a2','a3','a4']].values, (5))

array([ 9.0169e-01,  8.7800e-03,  3.0390e-05, -5.9400e-08,  4.4480e-11])